[Unit]
Description=Raspberry Pi crypto ticker on epaper display, web interface.

[Service]
Type=simple
User=YOUR_USER
Group=YOUR_USER
ExecStartPre=/usr/bin/nm-online
ExecStart="$HOME"/.local/bin/tinyticker-web -vv
Restart=on-failture
StandardOutput=file:/tmp/tinyticker-web1.log
StandardError=file:/tmp/tinyticker-web2.log

[Install]
WantedBy=multi-user.target
