[Unit]
Description=Raspberry Pi ticker on ePaper display, qrcode.
After=networking.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /home/tinyticker/.local/share/tinyticker
ExecStart=/home/tinyticker/.local/bin/tinyticker-web --port 80 --show-qrcode --config /home/tinyticker/.config/tinyticker/config.json
Restart=on-failure
RestartSec=30s
StandardOutput=file:/home/tinyticker/.local/share/tinyticker/tinyticker-qrcode-out.log
StandardError=file:/home/tinyticker/.local/share/tinyticker/tinyticker-qrcode-err.log

[Install]
WantedBy=default.target
