[Unit]
Description=Raspberry Pi ticker on epaper display, web interface.
After=networking.service

[Service]
Type=simple
ExecStart=sh -c '! type comitup-cli || comitup-cli i | grep -q "CONNECTED" && /home/tinyticker/.local/bin/tinyticker-web --port 80 --config /home/tinyticker/.config/tinyticker/config.json --log-dir /home/tinyticker/ -vv'
Restart=on-failure
RestartSec=5s
StandardOutput=truncate:/home/tinyticker/tinyticker-web-out.log
StandardError=truncate:/home/tinyticker/tinyticker-web-err.log

[Install]
WantedBy=default.target
